#header {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

p {
  display: flex;
  justify-content: center;
}

#input {
  text-align: center;
}

#mexican{
  background-color: green;
}

#chinese{
  background-color: red;
}

#thai{
  background-color: yellow;
}

#italian{
  background-color: green;
}

#american{
  background-color: red;
}

#japanese{
  background-color: yellow;
}
