<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../styles/about.css">
  </head>
  <body>

    <div class="container2">

    <div id="header">
    <h1>About Us Page</h1>
  </div>
  <div id="name">
    <h2 class="danny">Danny Garcia</h2>
    <h2 class="anahi">Anahi Badillo</h2>
    <h2 class="karla">Karla Saldivar</h2>
    <h2 class="kyle">Kyle Java</h2>
    <h2 class="ace">Ace Panapuzha</h2>
  </div>
  <div id="info">
    <p class="danny">Created Crave logo, helped on selectpage <br> and style. Made the About us page and the style.</p>
    <p class="anahi">This is what Anahi did</p>
    <p class="karla">Created and edited the design of the selectpage with a partner;<br> added content in the selectpage </p>
    <p class="kyle" >Created the second page and the content inside the webpage, <br>
    also created the design of the of the second page. <br>  Created the About Us page and designed it.</p>
    <p class="ace"> this is what ace did</p>
  </div>
</div>

  </body>
</html>
