<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../styles/about.css">
  </head>
  <body>
    <div id="header">
    <h1>About Us Page</h1>
  </div>
  <div id="name">
    <h2 class="ace">Ace Panapuzha</h2>
    <h2 class="anahi">Anahi Badillo</h2>
    <h2 class="danny">Danny Garcia</h2>
    <h2 class="karla">Karla Saldivar</h2>
    <h2 class="kyle">Kyle Java</h2>
  </div>
  <div id="info">
    <p class="ace">This is what Ace did</p>
    <p class="anahi">This is what Anahi did</p>
    <p class="danny">Created Crave logo, helped on homepage <br> and style. Made the About us page and the style. </p>
    <p class="karla" >what Karla did </p>
    <p class="kyle">Created the second page and the content inside the webpage, <br>
    also created the design of the of the second page. <br>
    Created the About Us page and designed it.</p>
  </div>
  </body>
</html>
