<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Crave</title>
    <link rel="stylesheet" href="../styles/about_crave.css">
  </head>
  <body>
    <div class="gridcontainer2">
    <h1>About Crave</h1>
  <ul>
    <li>Crave is a website that you can go to when you hungry but don't know what to eat.</li>
    <li>Crave randomizes foods and recipes based on the user's prefernces.</li>
    <li>Click on Get Random Food to begin your joueny through crave and decide what to eat.</li>
  </ul>

  </div>
  </body>
</html>
