<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    <div id="header">
    <h1>About Us Page</h1>
  </div>
  <div id="name">
    <h2>Ace Panapuzha</h2>
    <h2>Anahi Badillo</h2>
    <h2>Danny Garcia</h2>
    <h2>Karla Saldivar</h2>
    <h2>Kyle Java</h2>
  </div>
  <div id="info">
    <p>This is what Ace did</p>
    <p>This is what Anahi did</p>
    <p>Created Crave logo, helped on homepage and style. Made the About us page and the style. </p>
    <p>what Karla did </p>
    <p>Created the second page and the design of it. Made the About us page and the style of it.</p>
  </div>
  </body>
</html>
