<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>About Crave</title>
  <link rel="stylesheet" href="../styles/about_crave.css">
</head>
<body>
  <div class="gridcontainer2">
    <h1>About Crave</h1>
    <p id = 'para'>This website is a one stop shop for all those college students and all those families that just
    don't have the capacity to know what they are missing out on in terms of amazing food. We connect using the Edemame
  API to bring the user closer to the recipes of foods that meet whatever their restrictions may limit them to eat.</p>
  </div>
</body>
</html>
