<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Random Foods </title>
    <link rel="stylesheet" href="../styles/ranfood.css">
  <body>
    <div id="header">
      <h1>Random Food</h1>
    </div>
    <div id="container">
      <h2 id="home"> <a href="/"> Home </a></h2>
      <h2 id="recipe">Recipe</h2>
      <h2 id="aboutus"> <a href="/about">About Us </a></h2>
    </div>
    <div id="container2">
        <h2 id="restrictions">Exclusions <br>
        Meats: <br>
        Vegetables: <br>
        Dietary Restrictions: <br>
        Calories: </h2>
        <h2 id="foodname">Food Name = {{foodname}}</h2>
        <img id="picture" src="" alt="A picture of a food" >
    </div>
  </body>
</html>
