<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Random Foods </title>
    <link rel="stylesheet" href="../styles/ranfood.css">
  <body>
    <div id="header">
      <h1 >Random Food</h1>
    </div>
    <div id="container">
      <h2 id="select"> <a href="/"> Home </a></h2>
      <h2 id="recipe"><a href = {{link}}>Recipe</a></h2>
      <h2 id="aboutus"> <a href="/about">About Us </a></h2>
    </div>
    <div id="container2">
        <h2 id="ingredients"> Ingredients : <div style = "font-size : 20px">{{ingredients}}</div> </h2>
        <h2 id="foodname"><div style="text-align : center">Food Name:</div> <br><br>{{foodName}}<br><br>
        <div style="text-align : center">Enjoy your meal!<div></h2>
        <img id="picture" src={{img}} alt="A picture of a food" >
    </div>
  </body>
</html>
