<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Crave</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

  <form action = "/select" method = "post">
    <div class="grid-container">
      <div class="intro">
        <h2 id="intro">Choose what you don't want:</h2>
      </div>
      <div id="meat" class = "food">
        <div class="">
        <h3>Meats:</h3>
        <input type="checkbox" value="beef" name="restrictions">
        <label for="beef">Beef</label> <br>
        <input type="checkbox" value="pork" name="restrictions">
        <label for="beef">Pork</label> <br>
        <input type="checkbox" value="bacon" name="restrictions">
        <label for="beef">Bacon</label> <br>
        <input type="checkbox" value="chicken" name="restrictions"/>
        <label for="beef">Chicken</label> <br>
        <input type="checkbox" value="salmon" name="restrictions"/>
        <label for="beef">Salmon</label> <br>
          </div>
      </div>

      <div id="Veggies"  class = "food">
        <div class="">


        <h3>Vegetables:</h3>

        <input type="checkbox" value="onions" name="restrictions"/>
        <label for="onions">Onions</label> <br>
        <input type="checkbox" value="broccoli" name="restrictions"/>
        <label for="broccoli">Brocolli</label> <br>
        <input type="checkbox" value="tomato" name="restrictions"/>
        <label for="tomato">Tomato</label> <br>
        <input type="checkbox" value="olives" name="restrictions"/>
        <label for="olives">Olives</label> <br>
        <input type="checkbox" value="lettuce" name="restrictions"/>
        <label for="lettuce">Lettuce</label> <br>
            </div>
      </div>

      <div id="health"  class = "food">
        <div class="">


        <h3>Dietary Restriction:</h3>
        <input type="checkbox" value="vegetarian" name="health"/>
        <label for="diet">Vegetarian</label> <br>
        <input type="checkbox" value="sugar-conscious" name="health"/>
        <label for="diet">Sugar-Conscious</label> <br>
        <input type="checkbox" value="vegan" name="health"/>
        <label for="diet">Vegan</label> <br>
        <input type="checkbox" value="peanut-free" name="health"/>
        <label for="diet">Peanut-Free</label> <br>
        <input type="checkbox" value="tree-nut-free" name="health"/>
        <label for="diet">Tree-Nut-Free</label> <br>
        <input type="checkbox" value="alcohol" name="health"/>
        <label for="diet">Alcohol</label> <br>
    </div>
      </div>
    </div>

    <div class = "txt">
      <p></p>
      <input id="input" type="text" name="foodName" value="" size="35">
      <br><br>
    </div>
    <input id="enter"class= "text" type="submit" value="Enter" size="20">
  </div>
  </form>
<script type="text/javascript" src="../js_files/noise.js">

</script>
</body>
</html>
