<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
      <link rel="stylesheet" href="../styles/title.css">
  </head>

  <body>
    <div class="gridcontainer2">

      <div id="header">
      <h1>Welcome To Crave!</h1>
      </div>
      <div class="link">
      <h2 id= "aboutus"> <a href="/about">About Us </a>  </h2>
      <h2 id="select"> <a href="/"> Get Random Food </a></h2>
      </div>
      <div class="about">
      <h2 id="about">What is Crave?</h2>
      <p></p>
      <h2 id="usecrave">How to use crave?</h2>
      </div>

    </div>
  </body>
</html>
