body{
  background-image: url('../images/main_background2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
#header {
  text-align: center;
  font-size: 40px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
<<<<<<< HEAD

=======
  grid-gap: 30px;
>>>>>>> 970aa0f5d837b8e3eec5adac8843183203c301fa
}

#container > h2 {
  text-align: center;
  font-size: 35px;

}
#container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

#container2 > h2 {
  text-align: left;
  margin-left: 80px;
  font-size: 37px;
}

#select{
  background-color: rgba(255, 255, 255, 0.5);
}


#recipe{
  background-color: rgba(255, 255, 255, 0.5);

}

#aboutus{
  background-color: rgba(255, 255, 255, 0.5);
}


#ingredients{
  background-color: rgba(255, 255, 255, 0.5);
}

#foodname{
  background-color: rgba(255, 255, 255, 0.5);
}

#picture{
  margin-left: 150px;
  background-color: rgba(255, 255, 255, 0.5);

}
p{
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
}
