body{
  background-color: #444C5C
}
#header {
  text-align: center;
  font-size: 50px;
  padding-right: 20px;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

#container > h2 {
  text-align: center;
}
#container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

#container2 > h2 {
  text-align: center;
}

#home{
  background-color: #CE5A57;

}

#recipe{
  background-color: #78A5A3
}

#aboutus{
  background-color: #E1B16A;
}

#restrictions{
  background-color: #E1B16A;
}

#foodname{
  background-color: #78A5A3;
}

#picture{
  background-color: #CE5A57;
}
