#header {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

p {
  display: flex;
  justify-content: center;
}
#Meats {
  grid-column:1 ;
  grid-row: 1/span 2;
}


#Veggies {
  grid-column: 2;
  grid-row: 1;
}
