body{
  background-color: white;
  background-image : url('../images/title_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: cursive;


}
.gridcontainer2{
  padding-top: 400px;
}

.link{
   text-align: center;
    font-size: 30px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 100px;
  text-align: left;
  background-color:rgba(255,255,255,0.5);
  padding-top: 50px;
  padding-bottom: 50px;
}

#select{
  margin-left: 100px;
}
