body{
  background-color: white;
  background-image : url('../images/title_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;

}

/*.gridcontainer2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 200px;
<<<<<<< HEAD
  grid-gap: 20px;
  padding-left: 300px;
  }
=======
}**/
>>>>>>> e03c1169e7ae216a4e19ace60e4d485a4aeba8bd

.link{
   text-align: center;
    font-size: 30px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 100px;
  text-align: left;
  background-color:rgba(255,255,255,0.5);
}

#select{
  margin-left: 100px;
}

#use_crave{
  grid-column: 2;
  grid-row: 1;
}
#what_crave{
grid-column: 1;
grid-row:1;
}

p{
  grid-row:2;
}
